body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    margin: 0;
    color: white;
    font-size: 22px;
}

.container {
    display: flex;
    background: hsl(216deg 28.74% 17.06%);
    justify-content: center;
    flex-direction: column;
    
}

.header {
    display: flex;
    align-items: center;
    font-size: 32px;
    justify-content: space-between;
    margin-top: 16px;

}

ul {
    list-style-type: none;
}



a {
    text-decoration: none;
    padding: 16px;
}

a:visited {
    color: blue;
}

.main {
    display: flex;
    margin-bottom: 60px;
    margin-top: 40px;
}

button {
   
    border: 1px solid white;
    border-radius: 8px;
}

.join-button {
    display: flex;
    padding: 8px 16px;
    background-color: rgb(43, 88, 201);
    border: 1px solid blue;
    color: white;
    font-weight: bolder;
  }

  .icon {
    display: flex;
    width: 70px;
    height: 70px;
    padding: 8px 40px;
  }
  
  img  {
    border-radius: 90%;
  }

  .big-image {
    display: flex;
    width: 350px;
    height: 350px;
    padding: 16px;
    margin-right: 170px;
  }

  .container-two {
    display: flex;
    background: white;
    justify-content: space-between;
    color: black;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    
  }

 p {
    font-weight: lighter;
 }

 .boxes {
    display: flex;
    gap: 140px;
 }

 .box-one,
 .box-two,
 .box-three,
 .box-four {
    display: flex;
    flex-direction: column;
    width: 140px;
 }

 .box-one img,
 .box-two img,
 .box-three img,
 .box-four img {
    height: 140px;
    width: 140px;
    border: rgb(0, 183, 255) 4px outset;
 }

.container-three {
    display: flex;
    background-color: hsl(222.86deg 15.56% 91.18%);
    justify-content: center;
    align-items: center;
    padding: 100px 250px;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.709);
    flex-direction: column;
} 

h1 {
    font-style: oblique;
    
}

h2 {
    margin-left: 480px;
    color: rgba(0, 0, 0, 0.794);
    font-weight: bolder;
    font-size: 45px;
    font-style: italic;
}


.container-four {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

.final-call {
    display: flex;
    background-color: #3882f6;
    padding: 20px 40px;
    margin: 90px;
    justify-content: center;
    align-items: center;
    gap:16px;
    border-color: black;
    border-radius: 8px;
    margin-left: 140px;
    margin-right: 140px;
}    

.final-button {
    padding: 8px 40px;
    color: white;
    background-color: #3882f6;
    margin-right: 90px;
    font-weight: bold;
    display: flex;
    white-space: nowrap;
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.content p {
    font-weight: bolder;
}

.container-three p {
    font-style: light italic;
    font-size: 36px;
}
